@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Nunito", sans-serif;
}

.profilename{
  color: #333333;
  font-family: nunito;

}

.worksans{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
}
input{
  color: #666666;
}

input::placeholder{
  @apply placeholder-custom
}

